body{
    background-image: url("image/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Arial";
    line-height: 22px;
    font-size: 14px;
    margin: 0 auto;
    width: 1008px
}
.container {
    width: 960px;
    margin: 0 auto;
    border: 2px solid black;
    height: auto;
}
.header {
    border-bottom: 1px solid black;
    height: 130px;
    justify-content: space-between;
    display: flex;
    padding: 24px 0 18px 0;
}
.img1 {
    width: 120px;
    height: 120px;
}
.div2{
    width: 310px;
    height: 120px;
    background: gray;
}
.div3{
    width: 470px;
    height: 120px;
    /* background: grey; */
    text-align: right;
    padding-right: 18px;
}
.left{
    width: 165px;
    min-height: 300px;
    /* float:left; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.center{
    width: 750px;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
}
.middle{
    min-height: 600px;
    padding: 24px 0 18px 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.div4{
    min-height: 250px;
    height: auto;
    /* background: antiquewhite; */
    margin-bottom: 50px;
    padding-left: 10px;
    font-weight: bold;
}
.img7{
    width: 165px;
    height: 150px;
     align-self: flex-end;
    /* position: absolute;
    bottom: 0px;
    margin-bottom: -20px; */
}
.div5{
    width: 732px;
    height: 200px;
    /* background-c olor: aqua; */
    padding-left: 18px;
    position: relative;
}
.container-div6{
    width: 800px;
    /* background-color: cornflowerblue; */
    /* min-height: 300px; */
    margin-bottom: 25px;
    /* padding: 20px; */
    /* display: flex;
    justify-content: flex-start; */
}
.container-div89{
    height: 220px;
    /* background: darkblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img6{
    width: 139px;
    height: 150px;
    margin-right: 10px;
    margin-top: 25px;
}
.div8{
    height: 220px;
    /* background: cadetblue; */
    width: 324px;
    padding-left: 18px;
    padding-right: 18px;
}
.div9{
    height: 220px;
    width: 324px;
    /* background: cadetblue; */
    padding-left: 18px;
    padding-right: 18px;
}
.footer{
    border: 1px solid gold;
    height: 224px;
    display: flex;
    justify-content: space-between;
    padding: 24px 0 18px 0;
}
.div10{
    width: 300px;
    height: 200px;
    background-color: darkgoldenrod;
}
.div11{
    width: 300px;
    height: 200px;
    background-color: darkgoldenrod;
}
.container-div1213{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.div12{
    height: 85px;
    width: 300px;
}
.div13{
    height: 85px;
    width: 300px;
}
.underlined{
    text-decoration: underline;
}
#ul-none{
    list-style-type: none;
}
#ul-div11{
    list-style-type: square;
}
#p-div2{
	margin: 18px;
}
#ul-div10{
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
    list-style-type: none;
}
.bottom-text{
    position: absolute;
    bottom: 0px;
}
.light-color{
	background: Gainsboro;
}
.dark-color{
	background: Gray;
	color: white;
}
.big-text{
	font-size: 30px;
}
a{
    color:inherit;
}