.center-vacancy{
    width: 750px;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
}
.job-title {
    width: 750px;
    height: 100px;
    background:ghostwhite;
    border-radius: 30px 30px;
    position: relative;
}
.job-name {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.office-name{
    font-size: 14px;
    position: absolute;
    top: 60px;
    left: 20px;
}
.time {
    font-size: 14px;
    color: dimgrey;
    position: absolute;
    bottom: 20px;
    right: 50px;
}