.center{
    width: 750px;
}
form{
    width: 675px;
    margin-right: 50px;
}
.text {
    color:white;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #CC6666;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    outline: 0;
    max-width: 700px;
    max-height: 400px;
}
.send {
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -4px;
    font-weight: bold;
    width: 705px;
}
.gray-div {
    background: gray;
    width: 760px;
    height: 600px;
}
::placeholder {
    color: white;
}
.feedback-container{
    text-align: center;
    padding: 25px;
}