body{
    background-image: url("../image/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Arial";
    line-height: 22px;
    font-size: 14px;
    margin: 0 auto;
    width: 1008px
}
.container {
    width: 960px;
    margin: 0 auto;
    height: auto;
}

.underlined{
    text-decoration: underline;
}
#ul-none{
    list-style-type: none;
}

.bottom-text{
    position: absolute;
    bottom: 0px;
}
.light-color{
	background: Gainsboro;
}
.dark-color{
	background: Gray;
	color: white;
}
.big-text{
	font-size: 30px;
}
a{
    color:inherit;
}